*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
header {
      width:100%;
     position:fixed;

}
#navbar {
  display:inline-block;
  font-size:30px;;
  display:flex;
  justify-content:flex-end;
  background:#BE3144;
}
#navbar a{
  text-decoration:none;
   padding:20px 30px;
  margin-right:20px;
  color:white;
}
#navbar a:hover{
  background:#45567D;
}
#welcome-section {
  background:#212124;
  height:100vh;
  text-align:center;

}
#welcome-section h1,#projects h1{
  color:white;
  font-size:40px;
}
#welcome-section p{
  font-style:italic;
  color:#BE3144;
  font-size:30px;

}
.article {
  padding:250px 0;
}
#projects {
  padding:20px 20px;
  background:#45567D;
  text-align:center;
}
.underline{
  border-bottom:3px solid white;
  max-width:640px;
  margin:20px auto 20px auto;
}
.projects-group {
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-gap:1em;
}
.project-tile a{
  text-decoration:none;
}
.project-tile img{
  width:100%;
  object-fit:cover;
/*   height:100px; */
}
.project-tile p{
  color:white;
  padding:20px 0 20px 0;
  background:#303841;
}
span {
  color:#303841;
}

.project-tile:hover span{
  color:red;
  transition:0.3s ease-out;
}
button {
  margin-top:20px;
    display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
  background:#303841;
  border:none;
  color:white;
}
.seeall {
  color:white;
  margin-left: 10px;
  transform: translateX(0);
  transition: transform 0.3s ease-out;

}
button:hover .seeall{
  margin-left:20px;
  transform: translateX(20px);
  transition:0.3s ease-out;
}

button:hover{
  background:#BE3144;
  transform:translateX(0);
  transition:transform 0.3s ease-out;
  
}
footer {
  height:100vh;
  text-align:center;
  background:#303841
}
footer h1{
 font-size:40px;
  padding:80px 0 20px 0;
  color:white;
  font-weight:bold;
}
footer p{
  color:white;
  padding-bottom:50px;
}

i {
  font-size:20px;
  margin-right:5px;
}
footer a{
  color:white;
  display:inline-block;
  padding-left:20px;
  transition:transform 0.3s ease-out;
}
footer a:hover {
  transform:translateY(10px);
}
.copy {
  margin-top:120px;
  padding-top:80px;
  border-top:3px solid red;
  display:flex;
  justify-content:space-around;
}

@media (max-width:600px) {
  .projects-group {
    display:block;
  }
  .project-tile{
    margin-top:20px;
  }
  .copy{
    display:block;
    padding-top:10px;
  }
  #navbar {

  justify-content:space-between;
}
  .underline {
    padding-top:40px;
  }



}